{% extends "orders/base.html" %}
{% load staticfiles %}

{% block title %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{% static 'orders/order.js' %}"></script>
{% endblock %}

{% block header %}
<table width="70%">
    <tr>
        <th id="indexTab" width="16%">
          <a id="index" href="{% url 'index' %}" class="menu-link" data-page="index">Menu</a></button>
        </th>
        <th id="viewOrderTab" width="16%">
          <a id="viewOrder" href="{% url 'viewOrder' %}" class="menu-link" data-page="viewOrder">View Order</a></button>
        </th>
        <th id="youarehere" width="16%">
          <a id="youarehere" href="{% url 'placeOrder' %}" class="menu-link" data-page="placeOrder">Place Order</a></button>
        </th>
        <th id="loginTab" width="16%">
          <a id="login" href="{% url 'login' %}" class="menu-link" data-page="login">Login</a></button>
        </th>
        <th id="logoutTab" width="16%">
          <a id="logout" href="{% url 'logout' %}"  class="menu-link" data-page="logout">Logout</a></button>
        </th>
    </tr>
</table>
{% endblock %}

{% block body %}
<div id="main">
    <div class="callout" width="100%">
        <p id="main-margin">&nbsp</p>
        {% if count == 1 %}
          <h2>View 1 Item in Cart for Order ID: {{ orderId }}</h2>
        {% else %}
          <h2>Review all items in Cart for Order {{ orderId }} and Submit</h2>
        {% endif %}
        <form class="place-order" action="{% url 'placeOrder' %}" method="post">
          {% csrf_token %}
          <div class="card">
            {% for item in order %}
              <div class="row no-gutters" id="order-row">
                <div class="col-md-12">
                  <p class="item-desc">&nbsp</p>
                </div>
              </div>
              <div class="row no-gutters" id="order-row">
                <div class="col-md-12">
                  <p class="item-desc">{{ item.itemDesc }}</p>
                </div>
              </div>
            {% endfor %}
            <div class="row no-gutters" id="order-row">
              <div class="col-md-9">
                <p>&nbsp</p>
              </div>
              <div class="col-md-3" style="border-top: thin solid black;">
                <p class="total-desc">Total: ${{ total|floatformat:2 }}</p>
              </div>
            </div>
          </div>
          <input id="placeorder" type="submit" value="Submit Order"/>
        </form>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-6"><a href="{% url 'viewCart' %}">View Cart</a></div>
            <div class="col-md-6"><a href="{% url 'index' %}">Return to menu</a></div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
